
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: row-reverse;
    border-bottom: 2px solid #8B4513;
}

header ul {
    display: inline;
    list-style-type: none;
    margin: 0.5em auto;
    text-align: center;
}

header ul li{
    display: inline;
}

header ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    padding: 5px 15px; /* Tamaño de la "cajita" */
    color: #333; /* Color del texto */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s, border-radius 0.3s; /* Efecto de transición */
  }

header nav ul li a:hover {
    background-color: #8B4513; /* Color de fondo de la cajita al hacer hover */
    color: #fff;
    border-radius: 8px;
}

.logo img {
    max-width: 120px;
    width: 100px;
    margin-right: 10px;
}

.logout-button {
    background-color: #FFFFFF;
    color: #333; /* Color de texto gris */
    padding: 10px 20px; /* Espaciado interno del botón */
    font-size: 1.1em; /* Tamaño de la fuente */
    border: none; /* Sin bordes */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave en el color de fondo */
}


/* Efecto hover para el botón */
.logout-button:hover {
    background-color: #8B4513; /* Color de fondo de la cajita al hacer hover */
    color: #fff;
    border-radius: 8px;
}

/* Efecto al hacer clic en el botón */
.logout-button:active {
    background-color: #72380e; /* Color de fondo aún más oscuro al hacer clic */
    transform: scale(0.98); /* Efecto de presión al hacer clic */
}

.form-container {
    background-color: #006400;
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-container label {
    color: #ffffff;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.upload-container {
    position: relative;
    width: 100%;
    border: 2px dashed #ccc;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.upload-container:hover {
    border-color: #66cc66;
    background-color: #eef9ee;
}

.upload-container input[type="file"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload-area{
    color: #666;
    font-size: 16px;
}

.upload-area span {
    display: block;
    color: #666;
    font-weight: bold;
    margin-bottom: 5px;
}

.upload-area p {
    font-size: 14px;
    margin: 0;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #143601;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

button[type="submit"]:hover {
    background-color: #a55a3a;
}




