
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo img {
    max-width: 120px;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-buttons .btn {
    background-color: #8B5E34;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 15px;
    transition: background-color 0.3s ease;
    font-size: 1.1em;
}

.nav-buttons .btn:hover {
    background-color: #006400;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 20px;
}

.text-content {
    text-align: left;
    max-width: 60%;
}

.welcome-section h1 {
    font-size: 4em;
    color: #006400;
    font-weight: bold; 
}

.welcome-section h2 {
    font-size: 2.2em;
    color: #A47148;
    margin-top: 10px;
}


.welcome-section p {
    font-size: 1.2em;
    margin-top: 20px;
    color: #000000;
    line-height: 1.8;
    max-width: 800px; 
    margin: 20px auto;
}


.image-container {
    max-width: 40%;
    text-align: center;
   
}

.image-container img {
    max-width: 100%; 
    border-radius: 8px; 
}

button {
    font-size: 1em;
    background-color: #432c88;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #395c82;
}

.home {
    position: relative;
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
}


.home::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}

.home.show::before {
    opacity: 1;
    pointer-events: auto;
}

.form_container {
    position: fixed;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
}

.home.show .form_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.signup_form {
    display: none;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #006400;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2 {
    font-size: 22px;
    color: #006400;
    text-align: center;
}

.input_box {
    position: relative;
    width: 100%; /* El contenedor ocupa el ancho completo disponible */
    max-width: 400px; /* Define un ancho máximo */
    overflow: hidden; /* Evita cualquier desbordamiento */
    display: flex;
    align-items: center; /* Alinea los íconos y el input verticalmente */
    border-bottom: 1.5px solid #aaaaaa; /* Línea que engloba todo */
    box-sizing: border-box;
}

.input_box input {
    height: 100%;
    width: 100%;
    max-width: 400px;
    border: none;
    outline: none;
    overflow: hidden;
    margin-top: 20px;
    padding-left: 40px; /* Espacio para que el texto del placeholder no se superponga con el ícono */
    padding-right: 40px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;   
     
}  

.input_box input::placeholder {
    position: relative;
    top: -3px; /* Mueve hacia arriba */
    font-size: 14px; /* Ajusta el tamaño si es necesario */
    color: #888; /* Cambia el color del texto del placeholder */
}


.input_box input:focus {
    border-color: #006400;
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #333;
}

.input_box i.email,
.input_box i.password {
    left: 10px;
    margin-top: 5px;
    
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
    color: #006400;
    
}


.input_box i.pw_hide {
    right: 10px;
    font-size: 18px;
}

.option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_container a {
    color: #006400;
    font-size: 12px;
}

.form_container a:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
    font-size: 12px;
}

.checkbox input {
    accent-color: #8B5E34;
}

.checkbox label {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #000000;
}

.form_container .button {
    background-color: #8B5E34;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}




