<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Trabajos Activos</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container"> 
   
        <header>
            <a href="../templates/index.html" class="logo">
                <img src="../img/logo.jpg" alt="GreenWork Logo">
            </a>
            <div class="text-content">
    
            </div>

            <nav class="navbar">
                <ul>
                    <li><a href="../templates/dashboard.html"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
                    <li><a href="../templates/usuario.html"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
                    <li><a href="../templates/marketplace.html"> <i class="fa-solid fa-briefcase"></i> Marketplace</a></li>
                    <li><a href="#"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
                    <li><a href="#"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
                    <li><a href="#"> <i class="fa-solid fa-key"></i> Cerrar sesion</a></li>
                </ul>
            </nav>
            </div>
        </header>

       
    <div class="dashboard-container">

        <div class="boton-container">
            <a href="../templates/" class="boton">Ir a Página 2</a>
            <a href="../templates/" class="boton">Ir a Página 2</a>
            </div>
        
        <div class="columns">
            <div class="column">
                


                <div class="job-list">
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>


                </div>
            </div>
            <div class="column">
                


                <div class="job-list">
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>
