<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Trabajos Activos</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container"> 
   
        <header>
            <a href="../templates/index.html" class="logo">
                <img src="../img/logo.jpg" alt="GreenWork Logo">
            </a>
            <div class="text-content">
                <!-- <div class="user-info">
                    {% if nombre_usuario %}
                        <p title="Sesión iniciada con:">
                            <i class="fa-regular fa-user"></i>
                            {{ nombre_usuario }}
                        </p>
                        <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                    {% else %}
                        <p>Inicia sesión</p>
                    {% endif %}
                </div> -->
            </div>

            <nav class="navbar">
                <ul>
                    <li><a href="../templates/dashboard.html"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
                    <li><a href="../templates/usuario.html"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
                    <li><a href="../templates/marketplace.html"> <i class="fa-solid fa-briefcase"></i> Marketplace</a></li>
                    <li><a href="../templates/postulaciones.html"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
                    <li><a href="../templates/mis_proyectos.html"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
                    <button id="logoutButton" class="logout-button">Cerrar sesión</button>

                    <!-- <li><a href="{{ url_for('dashboard') }}"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
                    <li><a href="{{ url_for('perfil') }}"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
                    <li><a href="{{ url_for('marketplace') }}"> <i class="fa-solid fa-briefcase"></i> Marketplace</a></li>
                    <li><a href="{{ url_for('postulaciones') }}"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
                    <li><a href="{{ url_for('mis_proyectos') }}"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
                    <li><a href="{{ url_for('logout') }}" id="logoutButton" class="logout-button">Cerrar sesión</a></li> -->
                </ul>
            </nav>
            </div>
        </header>

       
    <div class="dashboard-container">

        <div class="boton-container">
            <a href="../templates/" class="boton">Ir a Página 2</a>
            <a href="../templates/" class="boton">Ir a Página 2</a>
            </div>
        
        <div class="columns">
            <div class="column">
                


                <div class="job-list">
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <!-- <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div> -->


                </div>
            </div>
            <div class="column">
                


                <div class="job-list">
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <!-- <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div>
                    <div class="job-item">No hay trabajo en curso</div> -->

                </div>
            </div>
        </div>
    </div>

</body>
</html>
