<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenWork</title>
    <link rel="stylesheet" href="../css/styles.css">
   
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
    

    <div class="container">
   
        <header>
            <div class="logo">
                <img src="../img/logo.jpg" alt="GreenWork Logo">
            </div>
            <div class="nav-buttons">
                <button class="btn" id="form-open">Iniciar sesión</button>
                <button class="btn" id="signup-open">Registrarse</button>
            </div>
        </header>

       
        <section class="welcome-section">
            <div class="text-content">
                <h1>GreenWork</h1>
                <h2>BIENVENIDOS</h2>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                </p>
            </div>

            <div class="image-container">
                <img src="../img/pala.jpg" alt="GreenWork Image">
            </div>
        </section>


        <section class="home">
            <div class="form_container">
                <i class="uil uil-times form_close"></i>
                <!-- login form -->
                <div class="form login_form">
                    <form action="#">
                    <h2>Iniciar sesion</h2>

                    <div class="input_box">
                        <input type="email" placeholder="Ingresa tu correo" required />
                        <i class="uil uil-envelope-alt email"></i>
                    </div>

                    <div class="input_box">
                        <input type="password" placeholder="Ingresa tu contraseña" required />
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>

                    <div class="option_field">
                        <span class="checkbox">
                            <input type="checkbox" id="check">
                            <label for="check">Recuerdame</label>
                        </span>
                        <a href="#" class="forgot_pw">¿Olvido su contraseña?</a>
                    </div>

                    <button class="button">Iniciar sesion</button>

                   
                    
                </form>
                </div>

                <!-- Signup form -->
                <div class="form signup_form">
                    <form action="#">
                    <h2>Registrarse</h2>

                    <div class="input_box">
                        <input type="user_name" placeholder="Ingresa tu nombre de usuario" required />
                        <i class="uil uil-person-alt email"></i>
                    </div>

                    <div class="input_box">
                        <input type="email" placeholder="Ingresa tu correo" required />
                        <i class="uil uil-envelope-alt email"></i>
                    </div>

                    <div class="input_box">
                        <input type="password" placeholder="Ingresa tu contraseña" required />
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>

                    <div class="input_box">
                        <input type="password" placeholder="Confirma tu contraseña" required />
                        <i class="uil uil-lock password"></i>
                        <i class="uil uil-eye-slash pw_hide"></i>
                    </div>

                    <button class="button">Registrarse</button>

                    
                </form>
                </div>

            </div>

        </section>

</div>

<script src="../js/script.js"></script>
</body>
</html>