=<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="../css/marketplace.css">
</head>
<body>

    <div class="container"> 
   
        <header>
            <div class="logo">
                <img src="../img/logo.jpg" alt="GreenWork Logo">
            </div>
            <div class="text-content">
                <h1>Marketplace</h1>
        </header>

        <section class="content">
            <div class="show-box" id="show-box">
                <div class="line">
                    <div class="item">
                        <p class="description" id="description">ejemplo 1</p>
                        <span class="price" id="price">$ 200.0000</span>
                        <p class="location" id="location">calle 3b</p>
                    </div>
                    <div class="item">
                        <p class="description" id="description">ejemplo 2</p>
                        <span class="price" id="price">$ 250.0000</span>
                        <p class="location" id="location">calle 4b</p>
                    </div>
                    <div class="item">
                        <p class="description" id="description">ejemplo 3</p>
                        <span class="price" id="price">$ 300.0000</span>
                        <p class="location" id="location">calle 5b</p>
                    </div>
                </div>


                <div class="line">
                    <div class="item">
                        <p class="description" id="description">ejemplo 1</p>
                        <span class="price" id="price">$ 200.0000</span>
                        <p class="location" id="location">calle 3b</p>
                    </div>
                    <div class="item">
                        <p class="description" id="description">ejemplo 2</p>
                        <span class="price" id="price">$ 250.0000</span>
                        <p class="location" id="location">calle 4b</p>
                    </div>
                    <div class="item">
                        <p class="description" id="description">ejemplo 3</p>
                        <span class="price" id="price">$ 300.0000</span>
                        <p class="location" id="location">calle 5b</p>
                    </div>
                </div>


                <div class="line">
                    <div class="item">
                        <p class="description" id="description">ejemplo 1</p>
                        <span class="price" id="price">$ 200.0000</span>
                        <p class="location" id="location">calle 3b</p>
                    </div>
                    <div class="item">
                        <p class="description" id="description">ejemplo 2</p>
                        <span class="price" id="price">$ 250.0000</span>
                        <p class="location" id="location">calle 4b</p>
                    </div>
                    <div class="item">
                        <p class="description" id="description">ejemplo 3</p>
                        <span class="price" id="price">$ 300.0000</span>
                        <p class="location" id="location">calle 5b</p>
                    </div>
                </div>
                

            </div>
        </section>
        

        
    
</body>
</html>