<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="../css/marketplace.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>



    <div class="container"> 
   
        <header>
            <a href="../templates/index.html" class="logo">
                <img src="../img/logo.jpg" alt="GreenWork Logo">
            </a>
            <div class="text-content">
    
            </div>

            <nav class="navbar">
                <ul>
                    <li><a href="../templates/dashboard.html"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
                    <li><a href="../templates/usuario.html"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
                    <li><a href="../templates/marketplace.html"> <i class="fa-solid fa-briefcase"></i> Marketplace</a></li>
                    <li><a href="../templates/postulaciones.html"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
                    <li><a href="#"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
                    <li><a href="#"> <i class="fa-solid fa-key"></i> Cerrar sesion</a></li>
                </ul>
            </nav>
            </div>
        </header>
        

        <section class="content">
            <div class="show-box" id="show-box">
                <div class="line">
                    <div class="item">
                        <img class="product-image" id="product-image" src="" alt="No hay imagen disponible">
                        <p class="description" id="description">ejemplo 1</p>
                        <span class="price" id="price">$ 200.0000</span>
                        <p class="location" id="location">calle 3b</p>
                    </div>
                    <div class="item">
                        <img class="product-image" id="product-image" src="" alt="No hay imagen disponible">
                        <p class="description" id="description">ejemplo 2</p>
                        <span class="price" id="price">$ 250.0000</span>
                        <p class="location" id="location">calle 4b</p>
                    </div>
                    <div class="item">
                        <img class="product-image" id="product-image" src="" alt="No hay imagen disponible">
                        <p class="description" id="description">ejemplo 3</p>
                        <span class="price" id="price">$ 300.0000</span>
                        <p class="location" id="location">calle 5b</p>
                    </div>
                </div>


                <div class="line">
                    <div class="item">
                        <img class="product-image" id="product-image" src="" alt="No hay imagen disponible">
                        <p class="description" id="description">ejemplo 1</p>
                        <span class="price" id="price">$ 200.0000</span>
                        <p class="location" id="location">calle 3b</p>
                    </div>
                    <div class="item">
                        <img class="product-image" id="product-image" src="" alt="No hay imagen disponible">
                        <p class="description" id="description">ejemplo 2</p>
                        <span class="price" id="price">$ 250.0000</span>
                        <p class="location" id="location">calle 4b</p>
                    </div>
                    <div class="item">
                        <img class="product-image" id="product-image" src="" alt="No hay imagen disponible">
                        <p class="description" id="description">ejemplo 3</p>
                        <span class="price" id="price">$ 300.0000</span>
                        <p class="location" id="location">calle 5b</p>
                    </div>
                </div>


                <div class="line">
                    <div class="item">
                        <img class="product-image" id="product-image" src="" alt="No hay imagen disponible">
                        <p class="description" id="description">ejemplo 1</p>
                        <span class="price" id="price">$ 200.0000</span>
                        <p class="location" id="location">calle 3b</p>
                    </div>
                    <div class="item">
                        <img class="product-image" id="product-image" src="" alt="No hay imagen disponible">
                        <p class="description" id="description">ejemplo 2</p>
                        <span class="price" id="price">$ 250.0000</span>
                        <p class="location" id="location">calle 4b</p>
                    </div>
                    <div class="item">
                        <img class="product-image" id="product-image" src="" alt="No hay imagen disponible">
                        <p class="description" id="description">ejemplo 3</p>
                        <span class="price" id="price">$ 300.0000</span>
                        <p class="location" id="location">calle 5b</p>
                    </div>
                </div>
                

            </div>
        </section>  
    
</body>
</html>