<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/marketplace.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- <link rel="icon" href="../img/favicon.png" type="Image/png"> -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
</head>
<body>
    <div class="container"> 
        <header>
            <!-- <a href="../templates/index.html" class="logo"> -->
                <a href="{{ url_for('dashboard') }}" class="logo">
                    <!-- <img src="../img/logo.jpg" alt="GreenWork Logo"> -->
                    <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="GreenWork Logo">
                </a>
            <nav class="navbar">
                <ul>
                    <li><a href="{{ url_for('dashboard') }}">Inicio</a></li>
                    <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
                    <li><a href="{{ url_for('marketplace') }}">Marketplace</a></li>
                    <li><a href="{{ url_for('postulaciones') }}">Postulaciones</a></li>
                    <li><a href="{{ url_for('mis_proyectos') }}">Mis proyectos</a></li>
                    <li><a href="{{ url_for('logout') }}" class="logout-button">Cerrar sesión</a></li>
                </ul>
            </nav>
        </header>

        <section class="content">
            <div class="show-box" id="show-box">
                <div class="line">

                <!-- Trabajos cargados dinámicamente -->
            </div>
        </section>
    </div>

    <script>
        // Obtener trabajos del backend
        fetch('/api/trabajos')
            .then(response => response.json())
            .then(data => {
            const showBox = document.getElementById('show-box');

        data.forEach(trabajo => {
            const item = document.createElement('a');
            item.className = 'item';
            item.href = `/visgeneral/${trabajo.id_trabajo}`;  // Genera la URL con el id del trabajo

            item.innerHTML = `
                <img class="product-image" src="${trabajo.fotografia}" alt="${trabajo.titulo}">
                <p class="description">${trabajo.titulo}</p>
                <span class="price">$ ${trabajo.monto}</span>
                <p class="location">${trabajo.ubicacion}</p>
            `;
            showBox.querySelector('.line').appendChild(item);
        });
    })
    .catch(error => console.error('Error al cargar trabajos:', error));


    </script>
</body>
</html>
