<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="hamburger-menu">
        <div class="menu-icon" id="menu-icon">
            <i class="uil uil-bars"></i>
        </div>
        <ul class="menu-list" id="menu-list" style="display: none;">
            <li><img src="../img/icono-1.jpg" alt="Inicio" class="icono"> Inicio</li>
            <li><img src="../img/icono-2.jpg" alt="Perfil" class="icono"> Perfil</li>
            <li><img src="../img/icono-3.jpg" alt="Postulaciones" class="icono"> Postulaciones</li>
            <li><img src="../img/icono-4.jpg" alt="Mis proyectos" class="icono"> Mis proyectos</li>
            <li><img src="../img/icono-5.jpg" alt="Cerrar sesión" class="icono"> Cerrar sesión</li>

        </ul>
    </nav>
    
</body>
</html>