<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <label>
        <input class="input-menu" type="checkbox">
        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <div class="slide">
            <h1>Menú</h1>
            <ul>
                <li><a href="#"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
                <li><a href="#"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
                <li><a href="#"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
                <li><a href="#"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
                <li><a href="#"> <i class="fa-solid fa-key"></i> Cerrar sesion</a></li>
            </ul>
        </div>
    </label>
    
</body>
</html>