<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis proyectos</title>
    <link rel="stylesheet" href="../css/mis_proyectos.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container"> 
   
        <header>
            <a href="../templates/index.html" class="logo">
                <img src="../img/logo.jpg" alt="GreenWork Logo">
            </a>
            <div class="text-content">
    
            </div>

            <nav class="navbar">
                <ul>
                    <li><a href="../templates/dashboard.html"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
                    <li><a href="../templates/usuario.html"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
                    <li><a href="../templates/marketplace.html"> <i class="fa-solid fa-briefcase"></i> Marketplace</a></li>
                    <li><a href="#"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
                    <li><a href="#"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
                    <li><a href="#"> <i class="fa-solid fa-key"></i> Cerrar sesion</a></li>
                </ul>
            </nav>
            </div>
        </header>

        <div class="container-table">
            <table>
              <thead>
                <tr>
                  <th class="wide-column">Trabajos</th>
                  <th class="narrow-column">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="/detalles?id=1">Proyecto A</a></td>
                  <td><a href="/detalles?id=1">Estado</a></td>
                </tr>
                <tr>
                  <td><a href="/detalles?id=2">Proyecto B</a></td>
                  <td><a href="/detalles?id=2">Estado</a></td>
                </tr>
                <tr>
                    <td><a href="/detalles?id=1">Proyecto C</a></td>
                    <td><a href="/detalles?id=1">Estado</a></td>
                  </tr>
                  <tr>
                    <td><a href="/detalles?id=1">Proyecto D</a></td>
                    <td><a href="/detalles?id=1">Estado</a></td>
                  </tr>
                  <tr>
                    <td><a href="/detalles?id=1">Proyecto E</a></td>
                    <td><a href="/detalles?id=1">Estado</a></td>
                  </tr>
                  <tr>
                    <td><a href="/detalles?id=1">Proyecto F</a></td>
                    <td><a href="/detalles?id=1">Estado</a></td>
                  </tr>
                <!-- Agrega más filas según sea necesario -->
              </tbody>
            </table>
          </div>

          <div class="boton-container">
          <a href="../templates/registro.html">
            <button class="boton">Crear Trabajo</button>
        </a>
    </div>
</body>
</html>