<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis postulaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/postulaciones.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <header>
            <a href="{{ url_for('dashboard') }}" class="logo">
                <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="GreenWork Logo">
            </a>
            <nav class="navbar">
                <ul>
                    <li><a href="{{ url_for('dashboard') }}">Inicio</a></li>
                    <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
                    <li><a href="{{ url_for('marketplace') }}">Marketplace</a></li>
                    <li><a href="{{ url_for('postulaciones') }}">Postulaciones</a></li>
                    <li><a href="{{ url_for('mis_proyectos') }}">Mis proyectos</a></li>
                    <li><a href="{{ url_for('logout') }}" class="logout-button">Cerrar sesión</a></li>
                </ul>
            </nav>
        </header>
    
        <div class="container-postulaciones">
    
            <!-- Columna Aceptados -->
            <div class="column">
                <h2>Aceptados</h2>
                {% for trabajo in aceptados %}
                <div class="item">
                    <img class="product-image" src="{{ url_for('static', filename='img/trabajos/' + trabajo['fotografia']) }}" alt="Imagen del trabajo">
                    <p class="title">{{ trabajo.titulo }}</p>
                    <span class="price">{{ trabajo.monto }}</span>
                    <p class="location">{{ trabajo.ubicacion }}</p>
                </div>
                {% else %}
                <p>No hay trabajos aceptados.</p>
                {% endfor %}
            </div>
    
            <!-- Columna Pendientes -->
            <div class="column">
                <h2>Pendientes</h2>
                {% for trabajo in pendientes %}
                <div class="item">
                    <img class="product-image" src="{{ url_for('static', filename='img/trabajos/' + trabajo['fotografia']) }}" alt="Imagen del trabajo">
                    <p class="title">{{ trabajo.titulo}}</p>
                    <span class="price">{{ trabajo.monto }}</span>
                    <p class="location">{{ trabajo.ubicacion }}</p>
                </div>
                {% else %}
                <p>No hay trabajos pendientes.</p>
                {% endfor %}
            </div>
    
            <!-- Columna Rechazados -->
            <div class="column">
                <h2>Rechazados</h2>
                {% for trabajo in rechazados %}
                <div class="item">
                    <img class="product-image" src="{{ url_for('static', filename='img/trabajos/' + trabajo['fotografia']) }}" alt="Imagen del trabajo">
                    <p class="title">{{ trabajo.titulo }}</p>
                    <span class="price">{{ trabajo.monto }}</span>
                    <p class="location">{{ trabajo.ubicacion }}</p>
                </div>
                {% else %}
                <p>No hay trabajos rechazados.</p>
                {% endfor %}
            </div>
    
        </div>
    </div>

</body>
</html>
