<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis postulaciones</title>
    <link rel="stylesheet" href="../css/postulaciones.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container"> 
   
        <header>
            <a href="../templates/index.html" class="logo">
                <img src="../img/logo.jpg" alt="GreenWork Logo">
            </a>
            <div class="text-content">
    
            </div>

            <nav class="navbar">
                <ul>
                    <li><a href="../templates/dashboard.html"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
                    <li><a href="../templates/usuario.html"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
                    <li><a href="../templates/marketplace.html"> <i class="fa-solid fa-briefcase"></i> Marketplace</a></li>
                    <li><a href="#"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
                    <li><a href="#"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
                    <li><a href="#"> <i class="fa-solid fa-key"></i> Cerrar sesion</a></li>
                </ul>
            </nav>
            </div>
        </header>
        <div class="container-postulaciones">
            <div class="column">
                <h2>Aceptados</h2>
                <div class="item">
                    <img class="product-image" src="" alt="No hay imagen disponible">
                    <p class="description">Mantenimiento de espacios</p>
                    <span class="price">$5.99 / lb</span>
                    <p class="location">San Juan Capistrano, CA</p>
                </div>
                <div class="item">
                    <img class="product-image" src="" alt="No hay imagen disponible">
                    <p class="description">Mantenimiento de espacios</p>
                    <span class="price">$5.99 / lb</span>
                    <p class="location">San Juan Capistrano, CA</p>
                </div>
                <div class="item">
                    <img class="product-image" src="" alt="No hay imagen disponible">
                    <p class="description">Mantenimiento de espacios</p>
                    <span class="price">$5.99 / lb</span>
                    <p class="location">San Juan Capistrano, CA</p>
                </div>
         
            </div>
        
            <!-- Columna Pendientes -->
            <div class="column">
                <h2>Pendientes</h2>
                <div class="item">
                    <img class="product-image" src="" alt="No hay imagen disponible">
                    <p class="description">Mantenimiento de espacios</p>
                    <span class="price">$5.99 / lb</span>
                    <p class="location">San Juan Capistrano, CA</p>
                </div>
                <div class="item">
                    <img class="product-image" src="" alt="No hay imagen disponible">
                    <p class="description">Mantenimiento de espacios</p>
                    <span class="price">$5.99 / lb</span>
                    <p class="location">San Juan Capistrano, CA</p>
                </div>
                <div class="item">
                    <img class="product-image" src="" alt="No hay imagen disponible">
                    <p class="description">Mantenimiento de espacios</p>
                    <span class="price">$5.99 / lb</span>
                    <p class="location">San Juan Capistrano, CA</p>
                </div>
            </div>
        
            <!-- Columna Rechazados -->
            <div class="column">
                <h2>Rechazados</h2>
                <div class="item">
                    <img class="product-image" src="" alt="No hay imagen disponible">
                    <p class="description">Mantenimiento de espacios</p>
                    <span class="price">$5.99 / lb</span>
                    <p class="location">San Juan Capistrano, CA</p>
                </div>
                <div class="item">
                    <img class="product-image" src="" alt="No hay imagen disponible">
                    <p class="description">Mantenimiento de espacios</p>
                    <span class="price">$5.99 / lb</span>
                    <p class="location">San Juan Capistrano, CA</p>
                </div>
                <div class="item">
                    <img class="product-image" src="" alt="No hay imagen disponible">
                    <p class="description">Mantenimiento de espacios</p>
                    <span class="price">$5.99 / lb</span>
                    <p class="location">San Juan Capistrano, CA</p>
            </div>
        </div>