<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de trabajo</title>
    <link rel="stylesheet" href="../css/registro.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

  <div class="container"> 
   
    <header>
        <a href="../templates/index.html" class="logo">
            <img src="../img/logo.jpg" alt="GreenWork Logo">
        </a>
        <div class="text-content">

        </div>

        <nav class="navbar">
            <ul>
              <!-- <li><a href="../templates/dashboard.html"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
              <li><a href="../templates/usuario.html"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
              <li><a href="../templates/marketplace.html"> <i class="fa-solid fa-briefcase"></i> Marketplace</a></li>
              <li><a href="../templates/postulaciones.html"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
              <li><a href="../templates/mis_proyectos.html"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
              <button id="logoutButton" class="logout-button">Cerrar sesión</button> -->
              
              <li><a href="{{ url_for('dashboard') }}"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
              <li><a href="{{ url_for('perfil') }}"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
              <li><a href="{{ url_for('marketplace') }}"> <i class="fa-solid fa-briefcase"></i> Marketplace</a></li>
              <li><a href="{{ url_for('postulaciones') }}"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
              <li><a href="{{ url_for('mis_proyectos') }}"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
              <li><a href="{{ url_for('logout') }}" id="logoutButton" class="logout-button">Cerrar sesión</a></li>
            </ul>
        </nav>
        </div>
    </header>
  
    <div class="form-container">
        <h2>REGISTRO DE TRABAJO</h2>
        <form>
            
            <label for="titulo">Título *</label>
            <input type="text" id="titulo" name="titulo" required>

            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" name="descripcion" rows="3"></textarea>

            <label for="duracion">Duración *</label>
            <input type="text" id="duracion" name="duracion" required>

            <label for="ubicacion">Ubicación</label>
            <input type="text" id="ubicacion" name="ubicacion" placeholder="Ej: Calle 12A">

            <label for="pago">Pago</label>
            <select id="pago" name="pago">
                <option value="" disabled selected>Seleccione una opción</option>
                <option value="hora">Por Hora</option>
                <option value="tarea">Por Tarea</option>
            </select>

            <label for="monto">Monto</label>
            <input type="text" id="monto" name="monto">

            <label for="file-upload">Subir Fotografía</label>
              <div class="upload-container">
              <input type="file" id="file-upload" name="file-upload" accept="image/*">
                <div class="upload-area">
                  <span>Upload a File</span>
                    <p>Drag and drop files here</p>
                </div>
              </div>

              
            <!-- Botón de registro -->
            <button type="submit">Registrar trabajo</button>
        </form>
    </div>

    <!-- <div id="menu-placeholder"></div> -->



</body>
</html>