<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de trabajo</title>
    <link rel="stylesheet" href="../css/registro.css">
</head>
<body>


    <div id="menu-placeholder"></div>
  <script>
    fetch('menu.html')
      .then(response => response.text())
      .then(data => {
        document.getElementById('menu-placeholder').innerHTML = data;
      })
      .catch(error => console.error('Error al cargar el menú:', error));
  </script>


    <div class="form-container">
        <h2>REGISTRO DE TRABAJO</h2>
        <form>
            
            <label for="titulo">Título *</label>
            <input type="text" id="titulo" name="titulo" required>

            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" name="descripcion" rows="3"></textarea>

            <label for="duracion">Duración *</label>
            <input type="text" id="duracion" name="duracion" required>

            <label for="ubicacion">Ubicación</label>
            <input type="text" id="ubicacion" name="ubicacion" placeholder="Ej: Calle 12A">

            <label for="pago">Pago</label>
            <select id="pago" name="pago">
                <option value="" disabled selected>Seleccione una opción</option>
                <option value="hora">Por Hora</option>
                <option value="tarea">Por Tarea</option>
            </select>

            <label for="monto">Monto</label>
            <input type="text" id="monto" name="monto">

            <!-- Botón de registro -->
            <button type="submit">Registrar trabajo</button>
        </form>
    </div>

</body>
</html>