<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="item">
        <img class="product-image" id="product-image" src="" alt="No hay imagen disponible">
        <p class="description" id="description">ejemplo 1</p>
        <span class="price" id="price">$ 200.0000</span>
        <p class="location" id="location">calle 3b</p>
    </div>
</body>
</html>