<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista general</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/visgeneral.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container"> 
        <header>
            <!-- <a href="../templates/index.html" class="logo"> -->
                <a href="{{ url_for('dashboard') }}" class="logo">
                    <!-- <img src="../img/logo.jpg" alt="GreenWork Logo"> -->
                    <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="GreenWork Logo">
                </a>
            <nav class="navbar">
                <ul>
                    <li><a href="{{ url_for('dashboard') }}">Inicio</a></li>
                    <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
                    <li><a href="{{ url_for('marketplace') }}">Marketplace</a></li>
                    <li><a href="{{ url_for('postulaciones') }}">Postulaciones</a></li>
                    <li><a href="{{ url_for('mis_proyectos') }}">Mis proyectos</a></li>
                    <li><a href="{{ url_for('logout') }}" class="logout-button">Cerrar sesión</a></li>
                </ul>
            </nav>
        </header>

        <!-- Tarjeta de Trabajo -->
        <div class="job-card">
            <img class="product-image" id="product-image" src="{{ url_for('static', filename='img/trabajos/' + trabajo['fotografia']) }}" alt="Imagen del trabajo">
            <h3 class="section-title">Trabajo</h3>
            <p class="trabajo" id="trabajo">{{ trabajo['titulo'] }}</p>
            
            <h3 class="section-title">Descripción</h3>
            <p class="description" id="description">{{ trabajo['descripcion'] }}</p>
            
            <h3 class="section-title">Duración</h3>
            <p class="duracion" id="duracion">{{ trabajo['duracion'] }}</p>
            
            <h3 class="section-title">Ubicación</h3>
            <p class="ubicacion" id="ubicacion">{{ trabajo['ubicacion'] }}</p>
            
            <h3 class="section-title">Pago</h3>
            <p class="pago" id="pago">{{ trabajo['pago'] }}</p>
            
            <h3 class="section-title">Monto Total</h3>
            <p class="monto" id="monto">{{ trabajo['monto'] }}</p>
            
            <form action="{{ url_for('postular', id_trabajo=trabajo['id_trabajo']) }}" method="POST">
                <button class="apply-button" type="submit">Postularme</button>
            </form>
            
        </div>
        
    </div>
</body>
</html>
