<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Trabajo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vista_postulados.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="logo">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="GreenWork Logo">
        </a>

        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('dashboard') }}"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
                <li><a href="{{ url_for('perfil') }}"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
                <li><a href="{{ url_for('marketplace') }}"> <i class="fa-solid fa-briefcase"></i> Marketplace</a></li>
                <li><a href="{{ url_for('postulaciones') }}"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
                <li><a href="{{ url_for('mis_proyectos') }}"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
                <li><a href="{{ url_for('logout') }}" id="logoutButton" class="logout-button">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>

    <div class="job-card">
        <img class="product-image" id="product-image" src="{{ url_for('static', filename='img/trabajos/' + trabajo['fotografia']) }}" alt="No hay imagen disponible">

        <h3 class="section-title">Trabajo</h3>
        <p class="trabajo" id="trabajo">{{ trabajo.titulo }}</p>

        <h3 class="section-title">Descripción</h3>
        <p class="description" id="description">{{ trabajo.descripcion }}</p>

        <h3 class="section-title">Duración</h3>
        <p class="duracion" id="duracion">{{ trabajo.duracion }}</p>

        <h3 class="section-title">Ubicación</h3>
        <p class="ubicacion" id="ubicacion">{{ trabajo.ubicacion }}</p>

        <h3 class="section-title">Pago</h3>
        <p class="pago" id="pago">{{ trabajo['pago'] }}</p>

        <h3 class="section-title">Monto Total</h3>
        <p class="monto" id="monto">{{ trabajo.monto }}</p>

        <form action="{{ url_for('eliminar_trabajo', id=trabajo['id_trabajo']) }}" method="POST">
          <button type="submit" class="btn-delete">Eliminar Trabajo</button>
      </form>
      <form action="{{ url_for('cambiar_estado_trabajo', id=trabajo['id_trabajo']) }}" method="POST">
          <button type="submit" class="btn-inactive">Cambiar a Inactivo</button>
      </form>
      <form action="{{ url_for('cambiar_estado_activo', id=trabajo['id_trabajo']) }}" method="post">
        <button type="submit" class="btn-activo">Cambiar a activo</button>
    </form>
    </div>

    <div class="container-table">
        <table>
            <thead>
                <tr>
                    <th class="wide-column">Postulados</th>
                    <th class="narrow-column">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Proyecto A</td>
                    <td>
                        <div class="botones"></div>
                        <button class="botonA">Aceptar</button>
                        <button class="botonR">Rechazar</button>
                    </td>
                </tr>
                <!-- Más filas de postulados pueden ir aquí -->
            </tbody>
        </table>
    </div>

</body>
</html>
