<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/vista_postulados.css">
</head>
<body>
    <header>
        <a href="../templates/index.html" class="logo">
            <img src="../img/logo.jpg" alt="GreenWork Logo">
        </a>
        <div class="text-content">

        </div>

        <nav class="navbar">
            <ul>
                <!-- <li><a href="../templates/dashboard.html"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
                <li><a href="../templates/usuario.html"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
                <li><a href="../templates/marketplace.html"> <i class="fa-solid fa-briefcase"></i> Marketplace</a></li>
                <li><a href="../templates/postulaciones.html"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
                <li><a href="../templates/mis_proyectos.html"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
                <li><a href="#"> <i class="fa-solid fa-key"></i> Cerrar sesion</a></li> -->
                
                <li><a href="{{ url_for('dashboard') }}"> <i class="fa-solid fa-tree"></i> Inicio</a></li>
                <li><a href="{{ url_for('perfil') }}"> <i class="fa-solid fa-address-book"></i> Perfil</a></li>
                <li><a href="{{ url_for('marketplace') }}"> <i class="fa-solid fa-briefcase"></i> Marketplace</a></li>
                <li><a href="{{ url_for('postulaciones') }}"> <i class="fa-solid fa-earth-americas"></i> Postulaciones</a></li>
                <li><a href="{{ url_for('mis_proyectos') }}"> <i class="fa-solid fa-briefcase"></i> Mis proyectos</a></li>
                <li><a href="{{ url_for('logout') }}" id="logoutButton" class="logout-button">Cerrar sesión</a></li>
            </ul>
        </nav>
 </div>
    </header>


    <div class="job-card">

        <img class="product-image" id="product-image" src="" alt="No hay imagen disponible">

        <h3 class="section-title">Trabajo</h3>
        <p class="trabajo" id="trabajo">Auxuliar de campo</p>
        
        <h3 class="section-title">Descripción</h3>
        <p class="description" id="description">Un asistente administrativo de campo es responsable de la operación exitosa de una oficina de campo, proyecto o equipo. Colaboran con los gerentes de campo, el personal, los clientes y los proveedores para brindar apoyo administrativo y facilitar la comunicación.</p>
        
        <h3 class="section-title">Duración</h3>
        <p class="duracion" id="duracion">6 meses</p>
        
        <h3 class="section-title">Ubicación</h3>
        <p class="ubicacion" id="ubicacion">Calle 12a 45-5c</p>
        
        <h3 class="section-title">Pago</h3>
        <p class="pago" id="pago">Por hora</p>
        
        <h3 class="section-title">Monto Total</h3>
        <p class="monto" id="monto">1.500.00</p>
    
    </div>
</div>

<div class="container-table">
    <table>
      <thead>
        <tr>
          <th class="wide-column">Postulados</th>
          <th class="narrow-column">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Proyecto A</td>
          <td>
            <div class="botones"></div>
            <button class="botonA">Aceptar</button>
            <button class="botonR">Rechazar</button>
          </td>
        </tr>

        <tr>
            <td>Proyecto A</td>
            <td>
              <div class="botones"></div>
              <button class="botonA">Aceptar</button>
              <button class="botonR">Rechazar</button>
            </td>
          </tr>

          <tr>
            <td>Proyecto A</td>
            <td>
              <div class="botones"></div>
              <button class="botonA">Aceptar</button>
              <button class="botonR">Rechazar</button>
            </td>
          </tr>

          <tr>
            <td>Proyecto A</td>
            <td>
              <div class="botones"></div>
              <button class="botonA">Aceptar</button>
              <button class="botonR">Rechazar</button>
            </td>
          </tr>

          <tr>
            <td>Proyecto A</td>
            <td>
              <div class="botones"></div>
              <button class="botonA">Aceptar</button>
              <button class="botonR">Rechazar</button>
            </td>
          </tr>
      
        

         
      </tbody>
    </table>
  </div>

</body>
</html>